In [13]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [4]:
heart_disease = pd.read_csv("./data/heart-disease.csv")

In [5]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# Create X (feature matrix)

X = heart_disease.drop("target", axis=1)

In [17]:
Y = heart_disease["target"]

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [20]:
clf = RandomForestClassifier(n_estimators = 100)

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.2)

In [22]:
clf.fit(X_train, Y_train)

RandomForestClassifier()

In [23]:
Y_preds = clf.predict(X_test)
Y_preds

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [27]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2
105,68,0,2,120,211,0,0,115,0,1.5,1,0,2
81,45,1,1,128,308,0,0,170,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,50,1,0,150,243,0,0,128,0,2.6,1,0,3
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2

In [25]:
clf.score(X_train, Y_train)

1.0

In [28]:
clf.score(X_test, Y_test)

0.8688524590163934

In [29]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test, Y_preds))

              precision    recall  f1-score   support

           0       0.87      0.80      0.83        25
           1       0.87      0.92      0.89        36

    accuracy                           0.87        61
   macro avg       0.87      0.86      0.86        61
weighted avg       0.87      0.87      0.87        61

In [30]:
confusion_matrix(Y_test, Y_preds)

array([[20,  5],
       [ 3, 33]], dtype=int64)

In [31]:
accuracy_score(Y_test, Y_preds)

0.8688524590163934

In [37]:
np.random.seed(42)
for i in range(10, 110, 10):
    print(f"trying model with {i}")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f"Model accuracy on test: {clf.score(X_test, Y_test) * 100:.2f}%")

trying model with 10
Model accuracy on test: 80.33%
trying model with 20
Model accuracy on test: 83.61%
trying model with 30
Model accuracy on test: 80.33%
trying model with 40
Model accuracy on test: 86.89%
trying model with 50
Model accuracy on test: 86.89%
trying model with 60
Model accuracy on test: 90.16%
trying model with 70
Model accuracy on test: 83.61%
trying model with 80
Model accuracy on test: 85.25%
trying model with 90
Model accuracy on test: 86.89%
trying model with 100
Model accuracy on test: 85.25%

In [36]:
import pickle

pickle.dump(clf, open("random_forest_model_1.pk1", "wb"))